[Unit]
Description=Run watchdog check.py every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=30sec

[Install]
WantedBy=timers.target
